@import "third_party/bootstrap/less/bootstrap.less";
@import "third_party/bootstrap/less/responsive.less";

// Additional reset:

menu {
    padding: 0;
    margin: 0;
}

// Style basic (semantic) elements:

button {
    .btn;
}


//
// Page Layout
//

section, .game {
    margin: @baseLineHeight 0;
}

//
// Header
//

header {
    .page-header;

    h1 {
        display: inline-block;
        margin: 0 0.25em 0 0; // right margin for inline subtitle
    }

    .subtitle {
        display: inline-block;
        .muted;
    }
}

//
// Game
//

.game {
    .well;
    .well-small;
    padding: 5px; // don't need too much padding, as games tend to have their own
    //text-align: center;
}

#status {
    margin-bottom: 5px;
    min-height: @baseLineHeight; // else it shrinks when empty, causing lots of jumping
}

#gameboard {
    display: block;
    background-color: inherit;
    cursor: default;
    //margin: 0 auto; // center board
}

#status, .keyboard {
    // Hide these items unless/until the game want them
    display: none;
}

.keyboard {
    button {
        .btn-large;
    }

    .buttongroup {
        margin: 0.5em;
    }
}


//
// DEBUGGING STUFF
//

.debug {
    margin: (2 * @baseLineHeight) 0 0;
    padding-top: ((@baseLineHeight / 2) - 1);
    border-top: 1px solid @grayLight;
}

#memdebug {
}

#debug {
    white-space: pre-wrap;
    margin-top: @baseLineHeight;
}

.meter {
    display: inline-block;
    position: relative;
    width: 250px;
    height: @baseLineHeight;
    background-color: @grayLighter;
    vertical-align: bottom;
}
.meter .current, .meter .peak {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: @baseLineHeight;
}
.meter .peak {
    background-color: @successBorder;
}
.meter .current {
    left: -1px;
    background-color: transparent;
    border-right: 2px solid @errorText;
}
.meter .maxLabel {
    position: absolute;
    right: 0;
    top: 0;
}
.meter .peakLabel {
    position: absolute;
    left: 0;
    top: 0;
}
