@import "third_party/bootstrap/less/bootstrap.less";

#gameboard {
    background-color: #cccccc;
    cursor: default;
}

#status, .keyboard {
    // Hide these items unless/until the game want them
    display: none;
}

menu {
    padding: 0;
}

button {
   .btn;
}

.keyboard {
    button {
        .btn-large;
    }

    .buttongroup {
        margin: 0.5em;
    }
}


/* DEBUGGING STUFF ... */

#memdebug {
    margin-top: 2em;
}

.meter {
    display: inline-block;
    position: relative;
    width: 250px;
    height: 1em;
    background-color: #eee;
}
.meter .current, .meter .peak {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 1em;
}
.meter .peak {
    background-color: #aec;
}
.meter .current {
    left: -1px;
    background-color: transparent;
    border-right: 2px solid #900;
}
.meter .maxLabel {
    position: absolute;
    right: 0;
    top: 0;
}
.meter .peakLabel {
    position: absolute;
    left: 0;
    top: 0;
}
