/*! Puzzles-html stylesheet
 */

@import "third_party/bootstrap/less/bootstrap.less";
@import "third_party/bootstrap/less/responsive.less";

// Additional reset:

menu {
    padding: 0;
    margin: 0;
}

template {
    display: none;
}

// Style basic (semantic) elements:

button {
    .btn;
}


//
// Page Layout
//

.app {
    position: relative;
}

.app .game {
    min-height: 400px;
}

section, .game {
    margin: @baseLineHeight 0;
}

//
// Header
//

header {
    .page-header;

    h1 {
        display: inline-block;
        margin: 0 0.25em 0 0; // right margin for inline subtitle
    }

    .subtitle {
        display: inline-block;
        .muted;
    }
}

//
// Game
//

.game {
    .well;
    .well-small;
    padding: 5px; // don't need too much padding, as games tend to have their own
    //text-align: center;
}

#status {
    margin-bottom: 5px;
    min-height: @baseLineHeight; // else it shrinks when empty, causing lots of jumping
}

#gameboard {
    display: block;
    background-color: inherit;
    cursor: default;
    //margin: 0 auto; // center board
}

.control select {
    width: 10em;
    margin-bottom: 0;
}

#status, .keyboard {
    // Hide these items unless/until the game want them
    display: none;
}

.keyboard {
    button {
        .btn-large;
    }

    .buttongroup {
        margin: 0.5em;
    }
}


//
// Messages
//

.message-backdrop {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: @zindexModalBackdrop;

    // background-color: rgba(0, 0, 0, 0.10);

    display: none;
    text-align: center;
}

.message {
    .alert;
    .alert-block;

    display: none; // will be inline-block when shown
    text-align: left;
    position: relative;
    top: 30%;
    z-index: @zindexModal;

    &.alert-info { .alert-info; }
    &.alert-success { .alert-success; }
    &.alert-danger { .alert-danger; }
}

//
// Index Page
//

.index {
    @thumbSize: 75px;
    @tilePadding: (@gridGutterWidth/2);

    ul {
        margin: 0 (-@tilePadding);
        list-style: none;
        .clearfix();
    }
    li {
        display: inline-block;
        vertical-align: top;
        position: relative;

        .box-sizing(border-box);
        width: 24.75%; // See responsive overrides below
        min-height: (@thumbSize + 2*@tilePadding + 2px); // in case description short

        margin: (@baseLineHeight/2) -1px;
        line-height: @baseLineHeight;
        padding: @tilePadding @tilePadding @tilePadding (@tilePadding + @thumbSize + @tilePadding);

        border: 1px solid transparent;
        .border-radius(@baseBorderRadius);

        h3, h4 {
            margin-top: 0;
        }
        p {
            margin: 10px 0 0;
        }

        // Entire LI contents are wrapped in an A; make the LI behave like the A
        > a {
            display: block;
            color: inherit;
        }
        > a:hover {
            text-decoration: inherit;
        }
        h3, h4 {
            color: @linkColor;
        }
        &:hover {
            border-color: @linkColor;
            h3, h4 {
                color: @linkColorHover;
                text-decoration: underline;
            }
        }

        // Thumbnail images
        img {
            display: block;
            max-width: @thumbSize;
            position: absolute;
            top: @tilePadding;
            left: @tilePadding;
        }
    }
}

// Responsive index

@media (min-width: 1200px) {
    .index li {
        width: 19.75%;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .index li {
        width: 33%;
    }
}
@media (max-width: 767px) {
    .index li {
        width: 49.5%;
    }
}
@media (max-width: 480px) {
    .index li {
        width: 100%;
    }
}



//
// DEBUGGING STUFF
//

.debug {
    margin: (2 * @baseLineHeight) 0 0;
    padding-top: ((@baseLineHeight / 2) - 1);
    border-top: 1px solid @grayLight;
}

#memdebug {
}

#debug {
    white-space: pre-wrap;
    margin-top: @baseLineHeight;
}

.meter {
    display: inline-block;
    position: relative;
    width: 250px;
    height: @baseLineHeight;
    background-color: @grayLighter;
    vertical-align: bottom;
}
.meter .current, .meter .peak {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: @baseLineHeight;
}
.meter .peak {
    background-color: @successBorder;
}
.meter .current {
    left: -1px;
    background-color: transparent;
    border-right: 2px solid @errorText;
}
.meter .maxLabel {
    position: absolute;
    right: 0;
    top: 0;
}
.meter .peakLabel {
    position: absolute;
    left: 0;
    top: 0;
}
